

.button {
margin-top: 10%;
border-radius: 25px;
border: 0px solid hsl(25, 97%, 53%);
padding: 15px 30px;
width: 100%;
background-color: hsl(25, 97%, 53%);
color: hsl(0, 0%, 100%);
letter-spacing: 5px;
}
*{
    margin: 0;
    
}
.button:hover {
background-color: hsl(0, 0%, 100%);
color: hsl(25, 97%, 53%);
cursor: pointer;
}
.star-rating {
	white-space: nowrap;
}
.star-rating [type="radio"] {
	appearance: none;
}
.star-rating i {
	font-size: 1.6em;
	transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
	transform: scale(1.35);
	color: #fffdba;
	animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) i {
	color: #faec1b;
	text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {
	0%,
	50% {
		transform: translatey(0) scale(1.35);
	}
	100% {
		transform: translatey(-15%) scale(1.35);
	}
}

.rate {
	background-color: #0d234b;
	color: #fff;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainb {
    box-sizing: border-box;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    background-color: hsl(213, 19%, 18%);
    padding: 20px;
    margin-left: 570px;
  }
